.row-fluid
	.span12(style="text-align:center;")
		.span4(style="text-align:center;")
			select(name="assignment", id="assignment")
				option(value="") Choose an assignment...
				option(ng-repeat="assignment in assignments", value="{{ assignment }}") {{ assignment.name }}
			select(name="submission", id="submission")
				option(value="") Choose a submission...
				option(ng-repeat="submission in submissionTypes", value="{{ submission }}") {{ submission }}
			.span12(style="text-align:center") Word count: 
				span(valid-color)
			.span12(style="text-align:center")
				.span6
					button(id="Save", name="Save", valid-button) Save
				.span6
					a(id="Post", name="Post", href="#", target="_blank") Post
			.span12(style="text-align:center;", id="feedback")
		.span8(style="text-align:center;")
			textarea(ng-model="text", class="tliText", autofocus)
