.row
	.span12
		p This is the timeline for TLI catch-up:

	table
		thead
			tr
				th Date
				th Assignment
				th Posting URL
				th Reflection URL
		tbody
			tr
				td 5/3/2013
				td Week 12
				td 
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525788") Post
				td 
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497171") Reflect
			tr
				td 5/4/2013
				td Week 13
				td 
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525795") Post
				td 
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497173") Reflect
			tr
				td 5/5/2013
				td Week 14
				td 
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525842") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497175") Reflect
			tr
				td 5/6/2013
				td Week 15
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525847") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497177") Reflect
			tr
				td 5/7/2013
				td Week 16
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525850") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497179") Reflect
			tr
				td 5/8/2013
				td Week 17
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525853") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497181") Reflect
			tr
				td 5/9/2013
				td Elements of Culture 
				td
					a(href="http://moodlearchives.tstc.edu/mod/assignment/view.php?id=666259") Submit
				td
			tr
				td 5/10/2013
				td Week 18
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525861") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497183") Reflect
			tr
				td 5/11/2013
				td Week 19
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525868") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497185") Reflect
			tr
				td 5/12/2013
				td Week 1
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525873") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497191") Reflect
			tr
				td 5/13/2013
				td Week 2
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525898") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497193") Reflect
			tr
				td 5/14/2013
				td Week 3
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525905") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497195") Reflect
			tr
				td 5/15/2013
				td Week 4
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525909") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497197") Reflect
			tr
				td 5/16/2013
				td Week 5
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525912") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497199") Reflect
			tr
				td 5/17/2013
				td Week 6
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525916") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497201") Reflect
			tr
				td 5/18/2013
				td Week 7
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525918") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497203") Reflect
			tr
				td 5/19/2013
				td Begin Week 8: Don't finish yet!
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=525921") Post
				td
					a(href="http://moodlearchives.tstc.edu/mod/forum/post.php?reply=497205") Reflect