.row
	.span12
		p This is the timeline for TLI catch-up:

	table
		thead
			tr
				th Date
				th Assignment
				th Posting URL
				th Reflection URL
		tbody
			tr(ng-repeat="assignment in assignments")
				td {{ assignment.date | prettyDate }}
				td {{ assignment.name }}
				td 
					a(href="{{ assignment.postURL }}") Post
				td 
					a(href="{{ assignment.reflectURL }}") Reflect